.avatar-group {
  position: relative;
  height: 35px;
  /* left: 100px; */
}
.avatar-wrapper-border {
  border: 2px solid var(--primary-text-color);
}
.avatar-wrapper {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: 34px !important;
  height: 34px !important;
}

.avatar-wrapper:hover .avatar {
  /* transform: scale(1.2); */
  z-index: 1;
  cursor: pointer;
}

.avatar-wrapper:hover .tooltip {
  opacity: 1;
}
.popover-container {
  position: relative;
  /* display: inline-block; */
}

.popover {
  position: absolute;
  background-color: var(--popup-bg-color);
  padding: 4px 0px;
  border-radius: 2px;
  left: 105%;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: max-content;
}

.popover.show {
  display: block;
}
.popover-checkbox-checked {
  background-color: var(--primary-color-opacityS);
}
.popover-checkbox-checked:hover {
  background-color: var(--primary-color-opacityM);
}
.popover-checkbox:hover {
  background-color: var(--secondary-bg-color);
}
