#header {
  height: 60px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 12px 30px 0px rgba(120, 120, 120, 0.1);
}
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 50px;
  height: 100%;
  z-index: 9;
  overflow: hidden;
}
#sidebar-closed {
  width: 10px;
  position: fixed;
  top: 0;
  left: 50px;
  height: 100%;
  z-index: 2;
}

#sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.066);
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#sidebar-over {
  display: none;
}
#hamburger {
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 50%;
}

#hamburger-icon {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-left {
  position: fixed;
  top: 25px;
  left: 290px;
}
.hamburger-right {
  position: fixed;
  top: 25px;
  left: 52px;
}

#sidebar-item {
  padding: 8px 12px;
  width: 275px;
  transition: transform 0.3s ease;
}

#sidebar-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#sidebar-text {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

#narrow-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  color: white;
  height: 100%;
  z-index: 100;
}
