#auth-container {
  background-color: var(--primary-color-opacityM);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auth-sub-container {
  width: 90%;
  height: 90%;
  border-radius: 4px;
  background-color: white;
}

#left-container {
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

#right-container {
  border-radius: 0px 4px 0px 0px;
  height: 100%;
  background-color: var(--primary-color-opacityXS);
}
