.avatar-group {
  position: relative;
  height: 35px;
  /* left: 100px; */
}
.avatar-wrapper {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: 39px !important;
  height: 39px !important;
}

.avatar-wrapper:hover .avatar {
  /* transform: scale(1.2); */
  z-index: 1;
  cursor: pointer;
}

.avatar-wrapper:hover .tooltip {
  opacity: 1;
}
.popover-container {
  position: relative;
  /* display: inline-block; */
}

.popover {
  position: absolute;
  padding: 4px 0px;
  border-radius: 2px;
  left: 105%;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: max-content;
}
