#avatar-container {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  color: black;
}
#avatar-text {
  font-weight: 500;
  font-size: 14px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
