.button-group {
  display: inline-flex;
}

.button-group button {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 0;
  margin: 0 !important;
}

.button-group button:not(:last-child) {
  border-right: none; /* Remove double borders between buttons */
}

.button-group button:first-child {
  border-radius: 6px 0 0 6px;
}

.button-group button:last-child {
  border-radius: 0 6px 6px 0;
}
