@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
body {
  margin: 0;
}
button {
  text-transform: capitalize;
  background-color: black;
  color: white;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  min-width: 80px;
  border-radius: 6px;
  border: 0;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.827);
}
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
.formItem {
  margin: 15px 0px;
}
FontAwesomeIcon {
  color: "#000000";
}

input,
select,
textarea {
  padding: 8px;
}
.formLabel {
  display: block;
  margin-bottom: 2px;
}
.formItem > p {
  display: block;
  margin: 1px;
}
.formValue {
  display: flex;
  flex-direction: column;
  width: 380px;
}

#formBtnContainer {
  width: max-content;
  margin: auto;
  display: flex;
  align-items: center;
}

/* Tooltip container */
.bottom-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.bottom-tooltip .bottom-tooltiptext {
  visibility: hidden;
  background-color: rgb(116, 114, 114);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the bottom-tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the bottom-tooltip text when you mouse over the bottom-tooltip container */
.bottom-tooltip:hover .bottom-tooltiptext {
  visibility: visible;
}
.bottom-tooltip .bottom-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(116, 114, 114) transparent;
}
.right-tooltip {
  position: relative;
  display: inline-block;
}

.right-tooltip .right-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  top: -5px;
  left: 110%;
}

.right-tooltip .right-tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.right-tooltip:hover .right-tooltiptext {
  visibility: visible;
}
