@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
:root {
  --primary-color: #1460b0;
  --primary-color-opacityXS: #145fb008;
  --primary-color-opacityS: #1460b02b;
  --primary-color-opacityM: #1460b041;
  --primary-bg-color: white;
  --primary-text-color: black;
  --secondary-bg-color: rgb(236, 234, 234);
  --secondary-text-color: rgb(181, 178, 178);
  --popup-bg-color: white;
}

[data-theme="dark"] {
  --primary-bg-color: #232222;
  --primary-color-opacityXS: #145fb008;
  --primary-color-opacityS: #1460b049;
  --primary-color-opacityM: #1460b090;
  --primary-text-color: rgb(255, 255, 255);
  --secondary-bg-color: #504e4e;
  --secondary-text-color: rgb(225, 225, 225);
  --popup-bg-color: #484747;
}
.MuiFormHelperText-root {
  margin: 0 !important;
}
.link-button {
  text-transform: capitalize !important;
  width: max-content !important;
  padding-right: 0 !important;
  min-width: 0 !important;
  padding-left: 4px !important;
}

.MuiLink-root {
  cursor: pointer;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-colorPrimary {
  background-color: lightgray;
  border: 0;
}
