@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
:root {
  --primary-color: #1460b0;
  --primary-color-opacityXS: #145fb008;
  --primary-color-opacityS: #1460b02b;
  --primary-color-opacityM: #1460b041;
  --primary-bg-color: white;
  --primary-text-color: black;
  --secondary-bg-color: rgb(236, 234, 234);
  --secondary-text-color: rgb(181, 178, 178);
  --popup-bg-color: white;
}

[data-theme="dark"] {
  --primary-bg-color: #232222;
  --primary-color-opacityXS: #145fb008;
  --primary-color-opacityS: #1460b049;
  --primary-color-opacityM: #1460b090;
  --primary-text-color: rgb(255, 255, 255);
  --secondary-bg-color: #504e4e;
  --secondary-text-color: rgb(225, 225, 225);
  --popup-bg-color: #484747;
}
input {
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
button {
  text-transform: capitalize;
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  min-width: 80px;
  border-radius: 6px;
  border: 0;
}
button:hover {
  opacity: 0.9;
  color: var(--secondary-text-color);
}
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
/* .dropdown {
  border: 0;
  border-radius: 6px;
  color: white;
  background-color: var(--primary-color);
}
.dropdown-container {
  border-radius: 6px;
} */
.formItem {
  margin: 15px 0px;
}
FontAwesomeIcon {
  color: "#000000";
}

input,
select,
textarea {
  padding: 8px;
}
.formLabel {
  display: block;
  margin-bottom: 2px;
}
.formItem > p {
  display: block;
  margin: 1px;
}
.formValue {
  display: flex;
  flex-direction: column;
  width: 380px;
}

#formBtnContainer {
  width: max-content;
  margin: auto;
  display: flex;
  align-items: center;
}

.custom-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  min-width: 120px;
  cursor: pointer;

  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6'%3E%3Cpath fill='none' stroke='%23333' stroke-width='2' d='M1 1l4 4 4-4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.custom-dropdown:hover {
  border-color: #888;
}

.link {
  cursor: pointer;
  width: max-content;
  color: #1c6fbd;
}
